tensorflow
pandas
numpy
Pillow
Flask
Flask-Cors
Werkzeug
python-dotenv
Flask-APScheduler
psycopg2-binary
Flask-SQLAlchemy
Flask-Bcrypt
Flask-JWT-Extended
faiss-cpu 
sentence-transformers
tf-keras
openai
bs4
unidecode
imagehash
faker